<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<section class="vh-100">
  <div class="container-fluid h-custom pt-3 pt-3">
    <center>
        <h1> OOPS!</h1><br>
        <h4>We are Sorry, the page you requested can not be found.</h4><br>
        <p class="p">The URL may be misspelled or the page you're looking for, is no longer available.</p>
        <p class="p">You can go back to our <a class="homepage" href="/" >homepage.</a></p>
    </center>
  </div>
</section>
</body>
</html>